<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>펀드 추천 시스템</title>
  <link rel="stylesheet" href="/static/index_style.css">
</head>
<body>
  <!-- 상단 오른쪽 버튼 -->
  <a href="/dashboard" class="btn btn-dashboard top-right-btn">고객 정보 분석 이동</a>
  <a href="/db_dash" class="btn btn-dashboard top-right-btn">dataBricks dashboard</a>

  <div class="container">
    <h1>나에게 맞는 펀드 추천</h1>
    <form action="/recommend" method="POST" class="recommend-form">
      <label>직업군</label>
      <select name="occupation">
        <option value="클러스터링1">클러스터링1</option>
        <option value="클러스터링2">클러스터링2</option>
        <option value="클러스터링3">클러스터링3</option>
        <option value="클러스터링4">클러스터링4</option>
      </select>

      <label>위험 선호도</label>
      <select name="risk">
        <option value="1">1 (매우 보수적)</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6 (매우 공격적)</option>
      </select>

      <button type="submit" class="btn btn-recommend">추천받기</button>
    </form>
  </div>
</body>
</html>
